body {
    font-family: Arial, sans-serif;
    background-color: #e9f5ff;
    background-image: linear-gradient(to bottom, #b7dcfd, #ffffff); /* Gradient from blue to white */
    margin: 0;
    padding: 20px;
    width: 320px; /* Change this value to your desired width */
    height: 240px; /* Change this value to your desired height */
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px; /* Add padding inside the header */
    box-sizing: border-box; /* Ensure padding doesn't affect width */
  }

  .header h1 {
    color: #333;
    font-size: 24px; /* Larger font size */
    margin: 0;
  }

  .more-options {
    cursor: pointer;
    text-decoration: none;
    color: rgb(39, 81, 188);
    border: none;
    border-radius: 3px;
    display: flex;
    align-items: center;
    font-size: 14.5px;
    text-decoration: underline; /* Underline text */
    font-weight: bold; /* Make text bolder */
  }
  
  #mainSection {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    font-size: 18px; /* Larger font size */
    height: 150px;
  }
  
  .popup-content {
    margin-top: 20px;
  }

  #maxTabLabel {
    margin-top: 4px;
  }
  
  #inputSection {
    display: inline-block; /* Make input section inline */
    margin-top: 20px;
  }

  #buttonContainer {
    display: inline-block; /* Make button container inline */
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
  }
  
  input[type="number"] {
    width: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff; /* Dark blue color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3; /* Darker shade of blue on hover */
  }

  .success-message {
    display: inline-block; /* Make button container inline */

    color: green; /* Color of success message */
    margin-left: 10px; /* Adjust as needed for spacing */
  }

/* CSS for notification message */
.notification {
    position: absolute;
    top: -50px; /* Start off-screen */
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999; /* Ensure the notification appears above other content */
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    opacity: 0; /* Start with 0 opacity */
    transition: opacity 0.5s ease, top 0.5s ease; /*transition effect that simultaneously changes the opacity and 
    vertical position of an element over a period of 0.5 seconds, with a smooth and gradual transition, 
    opacity and top goals are state below, top: 0 means that's the final vertical position goal when changing from current position (top: -50px;)*/
}
  
  /* Class for slide-in animation */
  .slide-in {
    top: 0; /* Slide in from the top */
    opacity: 1; /* Fade in */
  }
  
  /* Class for fade-out animation */
  .fade-out {
    opacity: 0; /* Fade out */
  }
